[submodule ".vim/bundle/zenburn"]
	path = .vim/bundle/zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule ".vim/bundle/CamelCaseMotion"]
	path = .vim/bundle/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/bufferlist"]
	path = .vim/bundle/bufferlist
	url = https://github.com/vim-scripts/bufferlist.vim.git
[submodule ".vim/bundle/slimv"]
	path = .vim/bundle/slimv
	url = https://github.com/vim-scripts/slimv.vim.git
