[user]
  name = Mason Staugler
  email = mstaugler@urbandaddy.com

[color]
  ui = auto

[alias]
  # dl for 'download'. Is that a stupid name?
  dl = fetch --all --prune
  co = checkout
  st = status
  br = branch
  orphaned-commits = !git fsck --full --no-reflogs | grep commit
